<section class='grid-row'>
  <div class='centered-column centered-content secondary-background thirtytwo-padding'>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-age" value="age">
        <label class="govuk-label govuk-checkboxes__label">
          Age
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-ethnicity" value="ethnicity">
        <label class="govuk-label govuk-checkboxes__label">
          Ethnicity
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-disability" value="disability">
        <label class="govuk-label govuk-checkboxes__label">
          Disability
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-mental-health" value="mental health">
        <label class="govuk-label govuk-checkboxes__label">
          Mental health
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-contacts" value="contacts in industry">
        <label class="govuk-label govuk-checkboxes__label">
          Contacts in industry
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-responsibilities" value="caring responsibilities">
        <label class="govuk-label govuk-checkboxes__label">
          Caring responsibilities
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-education" value="education">
        <label class="govuk-label govuk-checkboxes__label">
          Education
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-socioeconomic" value="socioeconomic">
        <label class="govuk-label govuk-checkboxes__label">
          Socioeconomic status
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-language" value="language">
        <label class="govuk-label govuk-checkboxes__label">
          Language
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-gender" value="gender">
        <label class="govuk-label govuk-checkboxes__label">
          Gender
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-sexuality" value="sexuality">
        <label class="govuk-label govuk-checkboxes__label">
          Sexuality
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-refugee" value="refugee">
        <label class="govuk-label govuk-checkboxes__label">
          Refugee status
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-other" value="other">
        <label class="govuk-label govuk-checkboxes__label">
          Other
        </label>
      </div>
    </div>
  </div>
</section>
<section class='grid-row'>
  <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
    <form action='/resources' class='centered-content'>
      <button class="govuk-button">Get resources</button>
    </form>
  </div>
</section>

<script src='js/checkboxlocalstoragebackground.js'></script>