<nav id='test-row'>
    <div class='centered'>Tech Access App</div>
</nav>
<figure id='test-row'>
    <img src='/images/unsplashpeoplecoding.jpeg' alt='image of people coding'>
</figure>
<section id='test-row'>
    <div class='centered'>
    <p>Think that a career in tech isn't for 'someone like you?' Let us prove you wrong.</p>
    </div>
</section>