 <nav id='test-row'>Tech Access App</nav>
<figure id='test-row'>
    <img src='/images/unsplashpeoplecoding.jpeg' alt='image of people coding'>
</figure>
<section id='test-row'>
    <p>Think that a career in tech isn't for 'someone like you?' Let us prove you wrong.</p>
</section>