 <nav>Tech Access App</nav>
        <figure>
            <img src='/images/unsplashpeoplecoding.jpeg' alt='image of people coding'>
        </figure>
        <section>
            <p>Think that a career in tech isn't for 'someone like you?' Let us prove you wrong.</p>
        </section>