<!DOCTYPE html>
<html>
  <head>
    <title>tech-access</title>
  </head>
  <body>
    <nav>
      <h2>Tech Access App</h2>
    </nav>
    <figure>
      <img src="/images/unsplashpeoplecoding.jpeg" alt="diverse people coding" width:"200" height:"200">
    </figure> 

  </body>

</html>

