<section class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding full-height flex-even-spacing'>
        <textarea id="more-info-field" autofocus></textarea>
        <br>
        <p class="small-text">(Text information will be saved upon clicking the button below.)</p>
    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1 bottom-padding-lft'>
        <form action='/results' class='centered-content' id='final-form' method='POST'>
            <button class="govuk-button">Show me the results</button>
        </form>
    </div>
</section>

<script src="js/populatemoreinfo.js"></script>
<script src="js/formaction.js"></script>