<nav class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
      <h1>More info</h1>
    </div>
</nav>
<section class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding full-height'>
        <p>If you'd like to, you can give us more detail about your background. We can't use these to tailor your results yet, but we hope to use this infromation to improve our service down the line.</p>
    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
        <form action='/background' class='centered-content'>
            <button class="govuk-button">Let's go!</button>
        </form>
    </div>
</section>