<nav class='grid-row'>
  <div class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
    <h1>Resources</h1>
  </div>
</nav>
<section class='grid-row'>
  <div class='centered-column centered-content secondary-background thirtytwo-padding'>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-online-courses" value="onlinecourses">
        <label class="govuk-label govuk-checkboxes__label">
          Online courses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-meetups" value="meetups">
        <label class="govuk-label govuk-checkboxes__label">
          Meetups in your area
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-classroom-courses" value="classroomcourses">
        <label class="govuk-label govuk-checkboxes__label">
          Classroom courses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-articles" value="articles">
        <label class="govuk-label govuk-checkboxes__label">
          Articles
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-mentors" value="mentors">
        <label class="govuk-label govuk-checkboxes__label">
          Mentors
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label">
          Waste from vegetable carcasses
        </label>
      </div>
    </div>
  </div>
</section>
<section class='grid-row'>
  <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
    <form action='/background' class='centered-content'>
      <button class="big-btn">Get dem results!</button>
    </form>
  </div>
</section>

<script src='js/checkboxlocalstorage.js'></script>