<section class='grid-row'>
  <div class='centered-column centered-content secondary-background thirtytwo-padding full-height'>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-online-courses" value="online course">
        <label class="govuk-label govuk-checkboxes__label">
          Online courses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-meetups" value="meetup">
        <label class="govuk-label govuk-checkboxes__label">
          Meetups in your area
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-classroom-courses" value="classroom course">
        <label class="govuk-label govuk-checkboxes__label">
          Classroom courses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-articles" value="article">
        <label class="govuk-label govuk-checkboxes__label">
          Articles
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-mentors" value="mentor">
        <label class="govuk-label govuk-checkboxes__label">
          Inspirational People
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" id="checkbox-others" value="others">
        <label class="govuk-label govuk-checkboxes__label">
          Other
        </label>
      </div>
    </div>
  </div>
</section>
<section class='grid-row'>
  <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
    <form action='/more-info' class='centered-content'>
      <button class="govuk-button">Next!</button>
    </form>
  </div>
</section>

<script src='js/checkboxlocalstorageresources.js'></script>