<nav class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
      <h1>Results</h1>
    </div>
</nav>
<section class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding full-height'>
        <p>WE GOT NUTHIN</p>
    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
        <form action='/background' class='centered-content'>
            <button class="govuk-button">Complain!</button>
        </form>
    </div>
</section>