<section class='grid-row'>
    <div class='centered-column centered-content secondary-background thirtytwo-padding full-splash-height'>
        <p>Welcome! We're going to ask you a few questions about your background, identity, and other things to make sure we can offer your the best resources.</p>
    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
        <form action='/background' class='centered-content'>
            <button class="govuk-button govuk-button--start">Let's go!</button>
        </form>
    </div>
</section>