<!DOCTYPE html>
<html lang="en">
{{>htmlhead}}
<body>
    <main class='o-grid-container--bleed primary-background full-viewport full-height flex-even-spacing'>
       {{>heading}}
       {{>pageinformation}}
       {{{body}}}
       {{>progressbar}}
    </main>
</body>
</html>