<!DOCTYPE html>
<html lang="en">
{{>htmlhead}}
<body>
    <main class='o-grid-container--bleed primary-background flex-even-spacing'>
        {{>heading}}
        {{>pageinformation}}
        {{>getmoreinfo}}
       {{{body}}}
       {{>progressbar}}
    </main>
</body>
</html>